workflow-chatbot-telegram.json
{
  "name": "Bot de Clima no Telegram",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "25d2afbe-3146-411a-94a9-47a2b5030969",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -3040,
        1712
      ],
      "webhookId": "afccdb28-8ec8-4f01-94f8-41c77001bb4f",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "function cleanCity(value) {\n  const text = String(value || '').trim().replace(/\\s+/g, ' ');\n\n  const naturalLanguageMatch = text.match(/(?:clima|tempo|temperatura|previs[a\\u00e3]o).*?\\b(?:em|de|da|do|no|na|para)\\s+(.+)$/i);\n  if (naturalLanguageMatch) {\n    return naturalLanguageMatch[1].trim();\n  }\n\n  return text\n    .replace(/^(qual\\s+)?((e|\\u00e9|eh)\\s+)?(o\\s+)?(clima|tempo|temperatura|previs[a\\u00e3]o)\\s*/i, '')\n    .replace(/^(em|de|da|do|no|na|para)\\s+/i, '')\n    .trim();\n}\n\nreturn $input.all().map((item) => {\n  const rawText = item.json.message?.text || '';\n  const cleanedText = rawText.replace(/[?!;.]/g, ' ').replace(/\\s+/g, ' ').trim();\n  const parts = cleanedText.split(',').map((part) => part.trim()).filter(Boolean);\n\n  let city = '';\n  let state = '';\n  let country = '';\n\n  if (parts.length >= 3) {\n    city = cleanCity(parts[0]);\n    state = parts[1].replace(/[^A-Za-z]/g, '').toUpperCase();\n    country = parts[2].replace(/[^A-Za-z]/g, '').toUpperCase();\n  }\n\n  const queue = city && state.length === 2 && country.length === 2\n    ? `${city},${state},${country}`\n    : '';\n\n  const weatherQuery = queue\n    ? `${city},${country}`\n    : '';\n\n  return {\n    json: {\n      ...item.json,\n      chatId: item.json.message?.chat?.id,\n      rawText,\n      queue,\n      weatherQuery,\n    },\n  };\n});"
      },
      "id": "d8013367-bb4f-42e4-adce-ef8c2dd692fb",
      "name": "Capturar e formatar entrada",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2656,
        1824
      ]
    },
    {
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/weather",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.weatherQuery || $json.queue }}"
            },
            {
              "name": "units",
              "value": "metric"
            },
            {
              "name": "lang",
              "value": "pt_br"
            },
            {
              "name": "appid",
              "value": "={{ $env.OPENWEATHER_API_KEY }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "ceaa5a23-7c72-4f0b-903c-a5ed030802b0",
      "name": "Consultar OpenWeather",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2384,
        1824
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const response = $input.first().json;\nconst original = $('Capturar e formatar entrada').item.json;\nlet body = response.body ?? response.data ?? response;\n\nif (typeof body === 'string') {\n  try {\n    body = JSON.parse(body);\n  } catch {\n    body = {};\n  }\n}\n\nconst statusCode = Number(response.statusCode ?? body?.cod);\nconst temp = body?.main?.temp;\nconst ok = statusCode >= 200 && statusCode < 300 && temp !== undefined && temp !== null && Number.isFinite(Number(temp));\nconst fallbackCity = original.queue?.split(',')?.[0] || original.rawText || 'cidade informada';\nconst city = body?.name || fallbackCity;\nconst roundedTemp = ok ? Math.round(Number(temp)) : null;\nconst message = ok\n  ? `\\uD83C\\uDF24\\uFE0F A temperatura em ${city} \\u00e9 de ${roundedTemp}\\u00b0C.`\n  : '\\u274C Cidade n\\u00e3o encontrada. Use o formato Cidade,UF,BR (ex.: S\\u00e3o Paulo,SP,BR).';\n\nreturn [\n  {\n    json: {\n      ok,\n      statusCode,\n      city,\n      temperature: roundedTemp,\n      queue: original.queue,\n      weatherQuery: original.weatherQuery,\n      chatId: original.chatId,\n      message,\n    },\n  },\n];"
      },
      "id": "b1f81c72-194f-4c6d-b552-d02f7f68f129",
      "name": "Preparar mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2096,
        1824
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3b575d4d-6211-48e2-9714-475582f3e340",
              "leftValue": "={{ $json.ok }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a73a65a2-0246-4d57-ac0f-1d178af2e216",
      "name": "Resposta valida?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1840,
        1824
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "13f63f78-fd04-4a01-8c42-380ca7e14663",
      "name": "Enviar clima",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1568,
        1696
      ],
      "webhookId": "28ec0ab8-3d7a-4a37-bc3b-f49d95ec22a0"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "fab82170-341e-40fe-983b-493b41d3ad4b",
      "name": "Enviar erro",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1568,
        1968
      ],
      "webhookId": "5c323471-5c2b-4047-bd41-442d889364e2"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Capturar e formatar entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capturar e formatar entrada": {
      "main": [
        [
          {
            "node": "Consultar OpenWeather",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar OpenWeather": {
      "main": [
        [
          {
            "node": "Preparar mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar mensagem": {
      "main": [
        [
          {
            "node": "Resposta valida?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resposta valida?": {
      "main": [
        [
          {
            "node": "Enviar clima",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "versionId": "a3f1cb43-cbf4-4ab3-b442-d7f6d6f4a8dd"
}
